<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/img/weather.png">
    <title>About</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div class='main'>
      {{>header}}
      <p>A simple Express weather app that fetches weather data for places over the world. Using data from <a href='https://mapbox.com' target= '_blank'>Mapbox</a>, co-ordinates are derived from places and sent to <a href='https://darksky.net' target= '_blank'>Darksky</a> which sends back the weather report.</p>
    </div>
    
    {{>footer}}
  </body>
</html>