<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/img/weather.png">
    <title>About</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div class='main'>
      {{>header}}
      <p>A simple weather Express app that fetches weather data for places over the world </p>
    </div>
    
    {{>footer}}
  </body>
</html>