<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/img/weather.png">
    <title>404: Error</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class='main'>
      {{>header}}
      {{ error }}
    </div>
    
    {{>footer}}
  </body>
</html>