<!DOCTYPE html>
<html>
  <head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class='main'>
      {{>header}}
      <h2>{{ help }}</h2>
    </div>
    
    {{>footer}}
  </body>
</html>
